@font-face {
    font-family: time ;
    src: url('./fonts/7Segment.ttf');
  }
  
  @font-face {
    font-family: start ;
    src: url('./fonts/sketch_3d/Sketch 3D.woff');
  }
  
  audio{
      display: none;
  }










#container{
    
    /* display: flex;
    flex-direction: column; */
    height: 100vh;
    width: 100vw;
    
}

#title{
    height: 10vh;
    width: 100%; 

    display: flex;
    flex-direction: column;
    
}

 #canvas{
    position: absolute;
    top: 10px;
} 

.hidden{
    display: none;

}

#game{
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: center;

   
}
#image {
    display: none;
    height: 100%;
    width: 100%;
    
}


#introCanvas{
   
}

#start{
    
    padding-top: 2.5vh;
    text-align: center;
    width: 20vw;
    height: 10vh;
    position: absolute;
    top: 10vh; 
    background-color: crimson;
    font-family: start;
    font-size: 2.8em;
    color: azure;
    border-radius: 30px;
   
}

.button{
    background-color: blue;
    border-radius: 30px;
    width: 150px;
    height: 60px;
    font-size: 3em;
    font-family: start;
    color: azure;
    text-align: center;
}

.number{
   font-family: time;
   font-size: 3em;
   color: rgb(0, 0, 255);
}
#chrono{
    width: 150px;
    background-color: crimson;
    position: absolute;
    top: 10px;
    right: 20px;
    border-radius: 30px;
    text-align: center;
    height: 60px;
}

#help{
    position: absolute;
    top: 10px;
    left: 20px;
}
#Time{
    position: absolute;
    top: 10px;
    right: 200px;
    width: 180px;

}
#Money{
    position: absolute;
    top: 10px;
    right: 400px;
    width: 180px;
}