#container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    
}

#title{
    height: 20%;
    width: 100%; 
    border: 1px solid red; 
    display: flex;
    flex-direction: column;
    
}

#game{
    height: 80%;
    width: 100%;
   
}
#image {
    height: 100%;
    width: 100%;
    border: 3px solid greenyellow;
}

#canvas{
    width: 100%;
    height: 70%;
}
